@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  color-scheme: light;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.effeilBG {
  background-image: url("../assets/effeil_wide.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textGradient {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to top,
    rgba(236, 236, 236, 0.305),
    rgba(236, 236, 236, 1)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* styles/globals.css */

.background--custom {
  background: linear-gradient(90deg, #ee1bbf, #8662dc, #733397);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

* {
  /* outline: 1px solid red; */
}
